* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

}
html {

}
body {
    touch-action: pan-y;
    display: grid;
    place-content: center;

    /*grid-area: 1 / 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    max-height: fit-content;
    max-width: fit-content;*/
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    grid-area: 1 / 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    max-height: fit-content;
    max-width: fit-content;

}
.container {
    background-color: royalblue;
    display: flex;
}

.m-one {
    background-color: aqua;
    /*display: none;*/
}
.m-two {
    background-color: green;
}
.m-three {
    background-color: orange;
}
.m-four {
    background-color: blue;
}
.m-five {
    background-color: yellow;
}
.m-six {
    background-color: purple;
}
.m-seven {
    background-color: pink;
}
.m-eight {
    background-color: red;
}
.m-nine {
    background-color: lightcoral;
}

/*@media (min-width: 1025px) {
    .m-one {
        width: 30%;
    }
}
@media (max-width: 1025px) {
    .m-one {
        width: 30%;
    }
}*/


/*.one {
    grid-area: 1 / 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    max-height: fit-content;
    max-width: fit-content;
}
.two {
    grid-area: 1 / 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    /*display: none;*/

    /*max-height: fit-content;
    max-width: fit-content;
}*/

/*.m-one {
    position: absolute;
    transform: translate(-50%, -150%);

    background-color: aqua;
    /*border: 2px solid;*/

    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 30%;
    margin: auto;
    height: min-content;

}*/