*, 
*, :before
*, :after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    height: 100vh;
}
html {
    max-height: fit-content;
    max-width: fit-content;
}
body {
    touch-action: pan-y;
    display: grid;
    place-content: center;

    overflow-x: hidden;
    overflow-y: hidden;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    place-items: center;
}
.top {
    grid-area: 1 / 1;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    max-height: fit-content;
    max-width: fit-content;

    animation: bouncing 5s ease-in-out infinite;
}
@keyframes bouncing {
    0% {
        transform: translate(-50%, 500%);
    }
    100% {
        transform: translate(50%, -500%);
    }
}